// 公共class
.flex,
.flex_column,
.flex_row {
    display: flex;
}
.flex_column {
    flex-direction: column;
}
.flex_row {
    flex-direction: row;
}
.flex_center {
    justify-content: center;
    align-items: center;
}
.flex_row_center {
    justify-content: center;
}
.flex_column_center {
    align-items: center;
}
.flex_between {
    justify-content: space-between;
}
.flex_around {
    justify-content: space-around;
}
.flex_row_end {
    justify-content: flex-end;
}
.flex_wrap {
    flex-wrap: wrap;
}
.flex_1 {
    flex: 1;
}
.flex_2 {
    flex: 2;
}
.flex_3 {
    flex: 3;
}
.flex_4 {
    flex: 4;
}
.flex_5 {
    flex: 5;
}
.flex_10 {
    flex: 10;
}
.height_50 {
    height: 50%;
}
.height_100 {
    height: 100%;
}
.width_50 {
    width: 50%;
}
.width_100 {
    width: 100%;
}
.ellipsis_text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}